app/code/local/HeadRun/CustomApiModule/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="fieldInfo">
                <sequence>
                    <element name="entity_id" type="xsd:string"/>
                    <element name="name" type="xsd:string"/>
                    <element name="sku" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="fieldInfoArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:fieldInfo[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="CustomApiModuleProductListRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="CustomApiModuleProductListResponse">
        <part name="products" type="typens:fieldInfoArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="CustomApiModuleProductList">
            <documentation>List of products</documentation>
            <input message="typens:CustomApiModuleProductListRequest" />
            <output message="typens:CustomApiModuleProductListResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="CustomApiModuleProductList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
